/// {{{title}}}
{{#description}}
///
/// {{{.}}}
{{/description}}
{{#datasheet}}
///
/// Datasheet: {{{.}}}
{{/datasheet}}
///
/// # Pinout
///
/// | Pin | Name     | Purpose     | Notes                 |
/// |-----|----------|-------------|-----------------------|
{{#pins}}
/// | {{{row}}} |
{{/pins}}
pub struct {{{struct_name}}} {
    pins: Vec<copperleaf::Pin>,
    mechanical: Vec<copperleaf::MechanicalPad>,
}

impl {{{struct_name}}} {
    {{#constants}}
    pub const {{{name}}}: copperleaf::PinRef = copperleaf::PinRef("{{{pin_name}}}");
    {{/constants}}

    pub fn new() -> Self {
        use copperleaf::{Pin, PowerSpec, Role, units::UnitExt};

        Self {
            pins: vec![
                {{#builders}}
                {{{.}}},
                {{/builders}}
            ],
            mechanical: vec![
                {{#mechanicals}}
                {{{.}}},
                {{/mechanicals}}
            ],
        }
    }

    pub fn constraints(&self) -> Vec<copperleaf::Constraint> {
        use copperleaf::{Constraint, units::UnitExt};
        vec![
            {{#constraints}}
            {{{.}}},
            {{/constraints}}
        ]
    }
}

impl copperleaf::Component for {{{struct_name}}} {
    fn pins(&self) -> &[copperleaf::Pin] {
        &self.pins
    }

    fn constraints(&self) -> Vec<copperleaf::Constraint> {
        Self::constraints(self)
    }

    fn mechanical(&self) -> &[copperleaf::MechanicalPad] {
        &self.mechanical
    }
    {{#symbol_id}}

    fn symbol(&self) -> Option<&'static str> {
        Some("{{{symbol_id}}}")
    }

    fn footprint(&self) -> Option<&'static str> {
        Some("{{{symbol_id}}}")
    }
    {{/symbol_id}}
    {{#datasheet_lit}}

    fn datasheet(&self) -> Option<&'static str> {
        Some("{{{datasheet_lit}}}")
    }
    {{/datasheet_lit}}
    {{#model3d_lit}}

    fn model_3d(&self) -> Option<&'static str> {
        Some("{{{model3d_lit}}}")
    }
    {{/model3d_lit}}
    {{#model3d_data_lit}}

    fn model_3d_data(&self) -> Option<&'static str> {
        Some("{{{model3d_data_lit}}}")
    }
    {{/model3d_data_lit}}
    {{#model3d_rotation_lit}}

    fn model_3d_rotation(&self) -> (f64, f64, f64) {
        {{{model3d_rotation_lit}}}
    }
    {{/model3d_rotation_lit}}
    {{#model3d_offset_lit}}

    fn model_3d_offset(&self) -> (f64, f64, f64) {
        {{{model3d_offset_lit}}}
    }
    {{/model3d_offset_lit}}
    {{#description_lit}}

    fn description(&self) -> Option<&'static str> {
        Some("{{{description_lit}}}")
    }
    {{/description_lit}}
}

impl Default for {{{struct_name}}} {
    fn default() -> Self {
        Self::new()
    }
}
