/// {{{title}}}
{{#description}}
///
/// {{{.}}}
{{/description}}
///
/// # Pinout
///
/// | Pin | Name     | Purpose     | Notes                 |
/// |-----|----------|-------------|-----------------------|
{{#pins}}
/// | {{{row}}} |
{{/pins}}
pub struct {{{struct_name}}} {
    pins: Vec<copperleaf_model::Pin>,
}

impl {{{struct_name}}} {
    {{#constants}}
    pub const {{{name}}}: copperleaf_model::PinRef = copperleaf_model::PinRef("{{{pin_name}}}");
    {{/constants}}

    pub fn new() -> Self {
        use copperleaf_model::{Pin, Role, units::UnitExt};

        Self {
            pins: vec![
                {{#builders}}
                {{{.}}},
                {{/builders}}
            ],
        }
    }
}

impl copperleaf_model::Component for {{{struct_name}}} {
    fn pins(&self) -> &[copperleaf_model::Pin] {
        &self.pins
    }
}

impl Default for {{{struct_name}}} {
    fn default() -> Self {
        Self::new()
    }
}
